 * {
      margin: 0;
    }
    
    .navbar {
      width: 100%;
      height: 50px;
      background-color: black;
    }
    .navbar-container {
      display: flex;
      align-items: center;
      background-color: black;
      padding: 0 50px;
      height: 100%;
      color: white;
    }
    .logo-container {
      flex:1;
    }
    .logo {
      color: red;
    }
    .menu-container {
      flex: 6; 
    }
    .menu-list {
      display: flex;
      list-style: none;
    }
    .menu-list-item {
      margin-right: 30px;
    }
    .profile-container {
      flex: 2;  
    }
    .toggle {
      width: 40px;
      height: 20px;
      background-color: white;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }
    .toggle-icon {
      color: red;
    }
    .toggle-ball {
      width: 18px;
      height: 18px;
      background-color: red;
      position: absolute;
      right: 1px;
      border-radius:50%;
    }
    .sidebar {
      width: 50px;
      height: 100%;
      background-color: black;
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-top: 50px;
    }
    .left-menu-icon {
      color: white;
      margin-bottom: 40px;
    }
    .sidebar-icon {
      color: white;
      margin-bottom: 20px;
    }
    .container {
      background-color: black;
      height: calc(100vh - 50px);
    }
    .content-container {
      margin-left: 50px;
    }
    .featured-content {
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      padding: 50px;   
    }
    .featured-desc {
      width: 500px;
      color: white;
      margin: 50px;
    }
    .featured-button {
      background-color: red;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      outline: none;
      
    }
