 * {
      margin: 0;
    }
    
    .navbar {
      width: 100%;
      height: 50px;
      background-color: black;
    }
    .navbar-container {
      display: flex;
      align-items: center;
      background-color: black;
      padding: 0 50px;
      height: 100%;
      color: white;
    }
    .logo-container {
      flex:1;
    }
    .logo {
      color: red;
    }
    .menu-container {
      flex: 6; 
    }
    .menu-list {
      display: flex;
      list-style: none;
    }
    .menu-list-item {
      margin-right: 30px;
    }
    .profile-container {
      flex: 2;  
    }
    .toggle {
      width: 40px;
      height: 20px;
      background-color: white;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }
    .toggle-icon {
      color: red;
    }
    .toggle-ball {
      width: 18px;
      height: 18px;
      background-color: red;
      position: absolute;
      right: 1px;
      border-radius:50%;
    }
    .sidebar {
      width: 50px;
      height: 100%;
      background-color: black;
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-top: 50px;
    }
    .left-menu-icon {
      color: white;
      margin-bottom: 40px;
    }
    .sidebar-icon {
      color: white;
      margin-bottom: 20px;
    }
    .container {
      background-color: black;
      minheight: calc(100vh - 50px);
    }
    .content-container {
      margin-left: 50px;
    }
    .featured-content {
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      padding: 50px;   
    }
    .featured-desc {
      width: 500px;
      color: white;
      margin: 50px;
    }
    .featured-button {
      background-color: red;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      outline: none;
      
    }

.movie-list-container {
padding: 20px;
}
.movie-list-item-img {
      transition: all is ease-in-out;  
      width: 270px;
      height: 200px;
      object-fit: cover;
}
.movie-list-item {
      margin-right: 30px;
      position: relative:
   
}
.movie-list-item:hover .movie-list-item-img {
      transform: scale(1.2);
      margin: 0 30px;
     
}



.movie-list {
      display: flex;
      align-items: center;
      height: 300px;
}

.movie-list-item-title {
      background-color: red;
      padding: 0 10px;
      font-size: 32px;
      font-weight: bold;
      position: absolute;
      top: 10%;
      left: 50px;
      transition: 1s all ease-in-out;
      
}

.movie-list-item-desc {
      padding: 10px;
      font-sixe: 14px;  
      font-weight: bold;
      position: absolute;
      top: 30%;
      left: 50px;
      width: 230px;
      transition: 1s all ease-in-out;
}

.movie-list-item-button {
      padding: 10px;
      background-color: red;
      color: white;
      border-radius: 10px;
      outline: none;
      border: none;
      cursor: pointer;
      position: absolute;
      bottom: 20px;
      left: 50px;
      transition: 1s all ease-in-out;
      
      
      
}
.movie-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}
